@media screen and (max-width: 320px){
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media screen and (min-width: 760px){
    .show-menu{
        transform: translate(40%);
    }

    .nav{
        width: 50%;
    }

    .nav__close{
        left: 65%;
    }

}

@media screen and (min-width: 1020px){
    .header__nav{
        height: 4.5rem;
    }

   .section{
       padding: 7rem 0 2rem;
   }

   .nav{
       width: 40%;
   }

   .nav__close{
       left: 85%;
   }

   .header__toggle{
       right: 2rem;
   }

}